<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}{% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="/css/fonts.css">
            <link rel="stylesheet" href="/css/bootstrap.min.css">
            <link rel="stylesheet" href="/css/bootstrap-datetimepicker.css">
            <link rel="stylesheet" href="/css/vendor/ChatJs/jquery.chatjs.css">
            <link rel="stylesheet" href="/css/main-panel-new.css">
            <link rel="stylesheet" href="/css/style.css">
            <link rel="stylesheet" href="/css/form-group-style.css">
            <link rel="stylesheet" href="/css/bdc.css">
            <link rel="stylesheet" href="/css/modal.css">
            <link rel="stylesheet" href="/css/new-style.css">
            <link rel="stylesheet" href="/css/photoswipe/photoswipe.css">
            <link rel="stylesheet" href="/css/photoswipe/default-skin/default-skin.css">
            <link rel="stylesheet" href="/css/jquery.mmenu.all.css">
            <link rel="stylesheet" href="/css/style-reload.css">
            <link rel="stylesheet" href="/css/select2.css">
            <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">
            <link rel="stylesheet" href="/css/magnific-popup.css">
            <link rel="stylesheet" href="/css/balance/menu.css">
            <link rel="stylesheet" href="/css/origin.css">
            <link rel="stylesheet" href="/css/payment-style.css">
            <link rel="stylesheet" href="/css/pay-style.css">
        {% endblock %}

        {% block javascript %}
            <script src="/js/vendor/jquery/jquery-1.10.2.min.js"></script>
            <script src="/js/vendor/jquery/jquery.easing.1.3.js"></script>
            <script src="/js/vendor/jquery/jquery.backgroundSize.js"></script>
            <script src="/js/vendor/jquery/jquery.form.min.js"></script>
            <script src="/js/vendor/jquery/jquery.ui.widget.js"></script>
            <script src="/js/vendor/jquery/jquery.iframe-transport.js"></script>
            <script src="/js/vendor/jquery/jquery.fileupload.js"></script>
            <script src="/js/vendor/jquery/jquery.linkify.min.js"></script>
            <script src="/js/vendor/moment.js"></script>
            <script src="/js/vendor/bootstrap.min.js"></script>
            <script src="/js/vendor/tmpl.min.js"></script>
            <script src="/js/vendor/jquery.nicescroll.min.js"></script>
            <script src="/js/vendor/double-tap.js"></script>
            <script src="/js/vendor/autosize.min.js"></script>
            <script src="/js/vendor/tappy.js"></script>
            <script src="/js/vendor/fastclick.js"></script>
            <script src="/js/vendor/jquery.magnific-popup.min.js"></script>
            <script src="/js/dream/flotr/lib/underscore.js"></script>
        {% endblock %}
    </head>
    <body>
        <div id="header">
            {# <?php $dream_src = $this->webroot . 'img/group/crawn-s.png'; ?> #}
            <div class="header-nav">
                <div class="header-nav_left">
                    <div class="user-avatar">
                        {# тут должен быть аватар пользователя #}
                        <div class="c100 p{# тут должен быть рейтинг пользователя #} small">
                            <div class="slice">
                                <div class="test_fill" style="height: {# тут должен быть рейтинг пользователя #}.'%'"></div>
                            </div>
                        </div>
                    </div>

                    <div class="header-nav_toy header-nav_toy_ng"></div>
                    <div class="balance_items">
                        <div class="crown">
                            <a href="#">176</a>
                        </div>
                        <div class="wallet">
                            <a href="/balance">
                                {# тут должен быть баланс пользователя #}
                            </a>
                        </div>
                    </div>

                </div>
                <div class="rating">{# тут должен быть рейтинг пользователя#}%</div>
                <div class="header-nav_right">
                    <ul class="main-nav">
                        <li class="main-nav_item main-nav_item--chat">
                            <a href="#" class="main-nav_link" id="open-user-list-panel">
                                <span class="main-nav_image k-icon k-icon--small">
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="-277 400.9 40 40">
                                        <g>
                                            <circle class="st0" cx="-261.8" cy="415.5" r="2.1"/>
                                            <circle class="st0" cx="-251.8" cy="415.5" r="2.1"/>
                                            <path class="st0" d="M-256.6,400.9c-11,0-20,8.9-20,20c0,11,8.9,19.9,20,19.9c11,0,19.9-8.9,19.9-19.9C-236.7,409.8-245.5,400.9-256.6,400.9z M-256.6,438.8c-9.9,0-18-8.1-18-17.9c0-10,8.2-18,18-18c9.9,0,17.9,8.1,17.9,18C-238.7,430.8-246.8,438.8-256.6,438.8z"/>
                                            <path class="st0" d="M-256.6,428.9c-3,0-5.6-1.7-6.9-4.1h-2c1.4,3.5,4.9,6,8.9,6c4,0,7.5-2.5,8.9-6h-2C-251.1,427.2-253.7,428.9-256.6,428.9z"/>
                                        </g>
                                    </svg>
                                </span>

                                <span class="main-nav_caption">{{ 'favorites'|trans }}</span>
                            </a>
                        </li>

                        <li class="main-nav_item main-nav_item--more">
                            <a href="#" class="main-nav_link" id="open-mobile-nav">
                                <span class="main-nav_image k-icon k-icon--small">
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="-277 400.9 40 40">
                                        <g><path class="st0" d="M-257,402.9c9.9,0,18,8.1,18,18c0,9.9-8.1,18-18,18c-9.9,0-18-8.1-18-18C-275,411-266.9,402.9-257,402.9M-257,400.9c-11,0-20,9-20,20s9,20,20,20s20-9,20-20S-246,400.9-257,400.9L-257,400.9z"/></g>
                                        <circle class="st0" cx="-257" cy="420.9" r="1.9"/>
                                        <circle class="st0" cx="-264" cy="420.9" r="1.9"/>
                                        <circle class="st0" cx="-250" cy="420.9" r="1.9"/>
                                    </svg>
                                </span>

                                <span class="main-nav_caption">{{ 'more'|trans }}</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="header-nav_center search">

                    <ul class="main-nav main-nav--left">
                        <li class="main-nav_item {# проверка на active #}">
                            <a class="main-nav_link" id="user{# id пользователя #}" href="{# url #}">
                                <span class="main-nav_image k-icon k-icon--small">
                                    <canvas id="canvas" width="40" height="40" style="display: none;"></canvas>
                                    <svg version="1.1" id="Icon_1_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="-285 377 40 40" style="enable-background:new -285 377 40 40;" xml:space="preserve">
                                        <path class="stm0" d="M-265,379c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18S-274.9,379-265,379 M-265,377c-11,0-20,9-20,20
                                            s9,20,20,20s20-9,20-20S-254,377-265,377L-265,377z"/>
                                        <g id="Clock_1_">
                                            <path class="stm1" d="M-256.1,389.9c-0.4-0.4-0.9-0.4-1.3,0l-7.4,7.3c-0.4,0.4-0.4,0.9,0,1.3s0.9,0.4,1.3,0l7.4-7.3
                                                C-255.7,390.9-255.7,390.3-256.1,389.9z"/>
                                            <path class="stm2" d="M-264.4,398l-8-4.5c-0.5-0.3-1.2-0.1-1.4,0.4c-0.3,0.5-0.1,1.1,0.4,1.4l8,4.5c0.5,0.3,1.2,0.1,1.4-0.4
                                                C-263.7,398.9-263.9,398.3-264.4,398z"/>
                                            <path class="stm3" d="M-261.4,410.6l-4.2-15.5c-0.1-0.2-0.2-0.3-0.4-0.2c-0.2,0-0.3,0.2-0.3,0.4l0.1,0.2l0,0c-0.2,0-0.3,0.2-0.3,0.4
                                                l4.2,15.5c0.1,0.2,0.2,0.3,0.4,0.2c0.2,0,0.3-0.2,0.3-0.4l-0.1-0.2l0,0C-261.5,411-261.4,410.8-261.4,410.6z"/>
                                            <path class="stm3" d="M-265.4,397.3c0.6,0,1.1,0.5,1.1,1.1s-0.5,1.1-1.1,1.1s-1.1-0.5-1.1-1.1C-266.4,397.8-266,397.3-265.4,397.3
                                                M-265.4,396.3c-1.1,0-2.1,0.9-2.1,2.1s0.9,2.1,2.1,2.1c1.1,0,2.1-0.9,2.1-2.1S-264.2,396.3-265.4,396.3L-265.4,396.3z"/>
                                            <path class="stm0" d="M-265,380.6L-265,380.6c-0.6,0-1.1,0.5-1.1,1.1s0.5,1.1,1.1,1.1l0,0c0.6,0,1.1-0.5,1.1-1.1
                                                S-264.4,380.6-265,380.6L-265,380.6z M-272.6,382.5c-0.2,0-0.4,0-0.5,0.1c-0.5,0.3-0.7,0.9-0.4,1.4c0.2,0.3,0.6,0.5,0.9,0.5
                                                c0.2,0,0.4,0,0.5-0.1c0.5-0.3,0.7-0.9,0.4-1.4C-271.9,382.7-272.3,382.5-272.6,382.5L-272.6,382.5z M-257.4,382.5
                                                c-0.4,0-0.7,0.2-0.9,0.5c-0.3,0.5-0.1,1.1,0.4,1.4c0.2,0.1,0.4,0.1,0.5,0.1c0.4,0,0.7-0.2,0.9-0.5c0.3-0.5,0.1-1.1-0.4-1.4
                                                C-257,382.6-257.2,382.5-257.4,382.5L-257.4,382.5z M-278.2,388c-0.4,0-0.7,0.2-0.9,0.5c-0.3,0.5-0.1,1.1,0.4,1.4
                                                c0.2,0.1,0.4,0.1,0.5,0.1c0.4,0,0.7-0.2,0.9-0.5c0.3-0.5,0.1-1.1-0.4-1.4C-277.9,388.1-278.1,388-278.2,388L-278.2,388z
                                                M-251.8,388c-0.2,0-0.4,0-0.5,0.1c-0.5,0.3-0.7,0.9-0.4,1.4c0.2,0.3,0.6,0.5,0.9,0.5c0.2,0,0.4,0,0.5-0.1c0.5-0.3,0.7-0.9,0.4-1.4
                                                C-251,388.2-251.4,388-251.8,388L-251.8,388z M-249.7,395.6c-0.6,0-1.1,0.5-1.1,1.1s0.5,1.1,1.1,1.1s1.1-0.5,1.1-1.1
                                                C-248.6,396.1-249.1,395.6-249.7,395.6L-249.7,395.6z M-280.3,395.6c-0.6,0-1.1,0.5-1.1,1.1s0.5,1.1,1.1,1.1s1.1-0.5,1.1-1.1
                                                C-279.2,396.1-279.7,395.6-280.3,395.6L-280.3,395.6z M-251.8,403.1c-0.4,0-0.7,0.2-0.9,0.5c-0.3,0.5-0.1,1.1,0.4,1.4
                                                c0.2,0.1,0.4,0.1,0.5,0.1c0.4,0,0.7-0.2,0.9-0.5c0.3-0.5,0.1-1.1-0.4-1.4C-251.4,403.2-251.6,403.1-251.8,403.1L-251.8,403.1z
                                                M-278.3,403.1c-0.2,0-0.4,0-0.5,0.1c-0.5,0.3-0.7,0.9-0.4,1.4c0.2,0.3,0.6,0.5,0.9,0.5c0.2,0,0.4,0,0.5-0.1
                                                c0.5-0.3,0.7-0.9,0.4-1.4C-277.5,403.3-277.9,403.1-278.3,403.1L-278.3,403.1z M-257.4,408.7c-0.2,0-0.4,0-0.5,0.1
                                                c-0.5,0.3-0.7,0.9-0.4,1.4c0.2,0.3,0.6,0.5,0.9,0.5c0.2,0,0.4,0,0.5-0.1c0.5-0.3,0.7-0.9,0.4-1.4
                                                C-256.6,408.9-257,408.7-257.4,408.7L-257.4,408.7z M-272.7,408.7c-0.4,0-0.7,0.2-0.9,0.5c-0.3,0.5-0.1,1.1,0.4,1.4
                                                c0.2,0.1,0.4,0.1,0.5,0.1c0.4,0,0.7-0.2,0.9-0.5c0.3-0.5,0.1-1.1-0.4-1.4C-272.3,408.7-272.5,408.7-272.7,408.7L-272.7,408.7z
                                                M-265,411.2L-265,411.2c-0.6,0-1.1,0.5-1.1,1.1s0.5,1.1,1.1,1.1l0,0c0.6,0,1.1-0.5,1.1-1.1S-264.4,411.2-265,411.2L-265,411.2z"/>
                                        </g>
                                    </svg>
                                </span>
                                <span class="main-nav_caption">{{ 'Time'|trans }}</span>
                            </a>
                        </li>

                        <li class="main-nav_item {# проверка на active #}">
                            <a href="/Exchange/invest_list" class="main-nav_link">
                                <span class="main-nav_image k-icon k-icon--small">
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="-277 400.9 40 40">
                                        <g><path class="st1" d="M-238.1,420.6c0-0.6,0-1.1-0.1-1.6c-0.2-1.8-0.6-3.5-1.2-5.1c0-0.1-0.1-0.2-0.1-0.4c-0.9-2-2.1-3.9-3.5-5.5c-0.1-0.1-0.2-0.2-0.3-0.3c-0.3-0.3-0.6-0.6-0.9-0.8c-3.4-3.1-7.8-4.9-12.7-4.9c-4.9,0-9.4,1.9-12.8,5c-0.8,0.7-1.5,1.5-2.2,2.4c-2.5,3.2-3.9,7.2-3.9,11.5c0,10.4,8.5,18.9,18.9,18.9c7.3,0,13.7-4.2,16.8-10.3c0.7-1.3,1.2-2.7,1.5-4.2c0.1-0.4,0.2-0.7,0.2-1.1c0.2-1.1,0.3-2.2,0.3-3.3C-238.1,420.8-238.1,420.7-238.1,420.6L-238.1,420.6z M-240.8,412.6l0.1-0.1c0.2,0.3,0.3,0.6,0.4,0.9l-0.2,0l-0.4,0V412.6z M-243.7,409.2l0-0.9c0.3,0.3,0.6,0.7,0.9,1l-0.4,0.5l-1.3,0l-0.1-0.3L-243.7,409.2z M-267.8,406.9L-267.8,406.9l0.4,0l0-0.1h0.7v0.3l-0.2,0.2h-0.9V406.9z M-267.2,407.8c0,0,0.4-0.1,0.4-0.1c0,0,0,0.4,0,0.4l-0.9,0.1l-0.2-0.2L-267.2,407.8z M-239.6,415.8h-1.5l-0.9-0.7l-0.9,0.1v0.6h-0.3l-0.3-0.2l-1.6-0.4v-1.1l-2.1,0.2l-0.6,0.3h-0.8l-0.4,0l-1,0.6v1l-2,1.5l0.2,0.6h0.4l-0.1,0.6l-0.3,0.1l0,1.6l1.7,2h0.8l0-0.1h1.4l0.4-0.4h0.8l0.4,0.4l1.2,0.1l-0.2,1.5l1.3,2.3l-0.7,1.3l0,0.6l0.5,0.5v1.5l0.7,0.9v1.2h0.6c-3.4,4.1-8.5,6.8-14.2,6.8c-10.1,0-18.3-8.2-18.3-18.3c0-2.5,0.5-5,1.5-7.2v-0.6l0.7-0.8c0.2-0.4,0.5-0.8,0.7-1.3l0,0.3l-0.8,0.9c-0.2,0.4-0.5,0.9-0.7,1.4v1l0.8,0.4v1.5l0.7,1.2l0.6,0.1l0.1-0.4l-0.7-1.1l-0.1-1h0.4l0.2,1.1l1,1.5l-0.3,0.5l0.6,1l1.6,0.4v-0.3l0.6,0.1l-0.1,0.5l0.5,0.1l0.8,0.2l1.1,1.3l1.4,0.1l0.1,1.1l-1,0.7l0,1l-0.1,0.6l1.4,1.7l0.1,0.6c0,0,0.5,0.1,0.6,0.1c0.1,0,1.1,0.8,1.1,0.8v3.1l0.4,0.1l-0.3,1.4l0.6,0.9l-0.1,1.4l0.8,1.5l1.1,0.9l1.1,0l0.1-0.3l-0.8-0.7l0-0.3l0.1-0.4l0-0.4l-0.5,0l-0.3-0.3l0.4-0.4l0.1-0.3l-0.5-0.1l0-0.3l0.7-0.1l1.1-0.5l0.4-0.7l1.1-1.5l-0.3-1.1l0.3-0.6l1.1,0l0.7-0.6l0.2-2.2l0.8-1l0.1-0.6l-0.7-0.2l-0.5-0.8l-1.6,0l-1.3-0.5l-0.1-0.9l-0.4-0.7l-1.2,0l-0.7-1.1l-0.6-0.3l0,0.3l-1.1,0.1l-0.4-0.5l-1.1-0.2l-0.9,1.1l-1.5-0.2l-0.1-1.6l-1.1-0.2l0.4-0.8l-0.1-0.5l-1.4,0.9l-0.9-0.1l-0.3-0.7l0.2-0.7l0.5-0.9l1.1-0.6h2.2l0,0.7l0.8,0.4l-0.1-1.1l0.6-0.6l1.1-0.7l0.1-0.5l1.1-1.2l1.2-0.7l-0.1-0.1l0.8-0.8l0.3,0.1l0.1,0.2l0.3-0.3l0.1,0l-0.3,0l-0.3-0.1v-0.3l0.2-0.1h0.4l0.2,0.1l0.2,0.3l0.2,0v0l0.1,0l0.6-0.1l0.1-0.3l0.3,0.1v0.3l-0.3,0.2l0,0.3l1,0.3l0,0l0.2,0l0-0.4l-0.8-0.4l0-0.2l0.7-0.2l0-0.6l-0.7-0.4l0-1.1l-1,0.5h-0.3l0.1-0.8l-1.3-0.3l-0.5,0.4v1.2l-1,0.3l-0.4,0.8l-0.4,0.1v-1l-0.9-0.1l-0.5-0.3l-0.2-0.7l1.6-1l0.8-0.2l0.1,0.5l0.4,0l0-0.3l0.5-0.1l0-0.1l-0.2-0.1l0-0.3l0.6,0l0.3-0.4l0,0h0l0.1-0.1l1.2-0.2l0.5,0.5l-1.4,0.7l1.8,0.4l0.2-0.6h0.8l0.3-0.5l-0.5-0.1V406l-1.7-0.8l-1.2,0.1l-0.7,0.4l0,0.8l-0.7-0.1l-0.1-0.5l0.7-0.6l-1.2-0.1l-0.3,0.1l-0.2,0.4l0.5,0.1l-0.1,0.5l-0.8,0l-0.1,0.3l-1.1,0c0,0,0-0.6-0.1-0.6c0,0,0.9,0,0.9,0l0.7-0.7l-0.4-0.2l-0.5,0.5l-0.8,0l-0.5-0.7h-1l-1.1,0.8h1l0.1,0.3l-0.3,0.2l1.1,0l0.2,0.4l-1.2,0l-0.1-0.3l-0.8-0.2l-0.4-0.2l-0.9,0c3-2.2,6.7-3.5,10.8-3.5c4.6,0,8.9,1.7,12.1,4.6l-0.2,0.4l-0.8,0.3l-0.4,0.4l0.1,0.5l0.4,0.1l0.3,0.7l0.8-0.3l0.1,0.9h-0.2l-0.6-0.1l-0.7,0.1l-0.7,0.9l-1,0.1l-0.1,0.8l0.4,0.1l-0.1,0.5l-0.9-0.2l-0.9,0.2l-0.2,0.5l0.1,1l0.5,0.2l0.8,0l0.6-0.1l0.2-0.5l0.9-1.2l0.6,0.1l0.6-0.5l0.1,0.4l1.4,1l-0.2,0.2l-0.6,0l0.2,0.3l0.4,0.1l0.5-0.2l0-0.6l0.2-0.1l-0.2-0.2l-1-0.5l-0.3-0.7h0.8l0.3,0.3l0.7,0.6l0,0.7l0.7,0.8l0.3-1l0.5-0.3l0.1,0.8l0.5,0.5l1,0C-239.8,414.7-239.6,415.2-239.6,415.8L-239.6,415.8z M-266.1,409.9l0.5-0.2l0.4,0.1l-0.1,0.6l-0.5,0.1L-266.1,409.9z M-263.6,411.3v0.4h-1.1l-0.4-0.1l0.1-0.3l0.5-0.2h0.7v0.2H-263.6z M-263.1,411.8v0.4l-0.3,0.2l-0.3,0.1v-0.6H-263.1z M-263.4,411.7v-0.4l0.4,0.3L-263.4,411.7z M-263.2,412.6v0.4l-0.3,0.3h-0.6l0.1-0.4l0.3,0l0.1-0.1L-263.2,412.6z M-264.7,411.8h0.6l-0.8,1.1l-0.3-0.2l0.1-0.5L-264.7,411.8z M-262.2,412.4v0.4h-0.6l-0.2-0.2v-0.3h0L-262.2,412.4z M-262.7,411.9l0.2-0.2l0.3,0.2l-0.2,0.2L-262.7,411.9z M-239.3,416.7L-239.3,416.7c0.1,0,0.1,0.1,0.1,0.2L-239.3,416.7z M-239.3,416.7"/></g>
                                        <g><path class="st0" d="M-257,402.9c9.9,0,18,8.1,18,18c0,9.9-8.1,18-18,18c-9.9,0-18-8.1-18-18C-275,411-266.9,402.9-257,402.9M-257,400.9c-11,0-20,9-20,20s9,20,20,20s20-9,20-20S-246,400.9-257,400.9L-257,400.9z"/></g>
                                    </svg>
                                </span>
                                <span class="main-nav_caption">{{ 'Exchange'|trans }}</span>
                            </a>
                        </li>

                        <li class="main-nav_item">
                            <a href="#" class="main-nav_link" id="show-community-list">
                                <span class="main-nav_image k-icon k-icon--small">
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="-277 400.9 40 40">
                                        <g>
                                            <path class="st0" d="M-257,400.9c-11,0-20,9-20,20s9,20,20,20s20-9,20-20S-246,400.9-257,400.9z M-257,438.9c-9.9,0-18-8.1-18-18c0-9.9,8.1-18,18-18c9.9,0,18,8.1,18,18C-239,430.8-247.1,438.9-257,438.9z"/>
                                            <path class="st0" d="M-250.7,420.8c0,0-0.5,0.6-1.6,0.6c-1.1,0-1.6-0.6-1.6-0.6s0,0-0.1,0c-0.1,0.2-0.2,0.3-0.3,0.5c3.9,0.8,4.6,2.3,4.8,6.5c2.3-0.4,2.8-1.4,2.8-1.4c0-0.1,0-0.2,0-0.3c0,0,0-0.1,0-0.3C-246.9,422.4-247.3,421.4-250.7,420.8z"/>
                                            <path class="st0" d="M-253.5,420c0.4,0.2,0.8,0.4,1.3,0.4c1.6,0,2.9-1.6,2.9-3.5c0-2-0.4-3.5-2.9-3.5c-0.8,0-1.4,0.2-1.9,0.5c0.8,1,1,2.4,1,3.8C-253,418.5-253.2,419.3-253.5,420z"/>
                                            <path class="st0" d="M-260.1,421.3c-0.1-0.1-0.2-0.3-0.3-0.4c-0.2,0.2-0.7,0.5-1.5,0.5c-1.1,0-1.6-0.6-1.6-0.6c-3.4,0.6-3.8,1.6-3.9,4.9c0,0.3,0,0.3,0,0.3c0,0.1,0,0.2,0,0.4c0,0,0.4,0.9,2.7,1.3C-264.5,423.6-263.9,422.1-260.1,421.3z"/>
                                            <path class="st0" d="M-261.8,420.4c0.4,0,0.7-0.1,1-0.2c-0.3-0.7-0.6-1.6-0.6-2.5c0-1.5,0.2-3,1.2-4c-0.4-0.2-0.9-0.3-1.6-0.3c-2.5,0-2.9,1.6-2.9,3.5C-264.7,418.8-263.4,420.4-261.8,420.4z"/>
                                            <path class="st0" d="M-250,428.1c-0.1-4.4-0.6-5.6-4.7-6.4c-0.7,0.6-1.5,0.9-2.5,0.9c-0.9,0-1.7-0.3-2.4-0.9c-4,0.8-4.4,2-4.5,6.2v0.7c0.2,0.3,1.6,2,7.1,2s6.9-1.7,7.2-2v-0.1C-250,428.4-250,428.3-250,428.1z"/>
                                            <path class="st0" d="M-257.2,422.1c2,0,3.7-2,3.7-4.5c0-2.7-0.6-4.5-3.7-4.5s-3.6,1.8-3.6,4.5C-260.9,420.2-259.2,422.1-257.2,422.1z"/>
                                        </g>
                                    </svg>
                                </span>
                                <span class="main-nav_caption">{{ 'Groups'|trans }}</span>
                            </a>

                            <div id="community-list" class="community-list">
                                <div class="community-list_line">
                                    <a href="/Group/edit" class="community_add-button">
                                        {# create group#}
                                    </a>
                                </div>
                                {# какие то данные пользователя #}
                                {# <?php if(!empty($userGroupsDataInfo)): ?>
                                    <?php foreach ($userGroupsDataInfo as $group): ?>
                                        <div class="community-list_line">
                                            <div class="community-item">
                                                <div class="community-item_body">
                                                    <a href="<?=$this->Html->url(array('controller' => 'Group', 'action' => 'view', $group['Group']['id']))?>" class="community-item_logo">
                                                        <?php echo $this->Avatar->group($group, array(
                                                            'size' => 'thumb200x200',
                                                            'title'=>$group['Group']['title'],
                                                            'itemprop' => 'image',
                                                            'class'=> 'rounded'
                                                        )); ?>
                                                    </a>
                                                    <div class="community-item_title"><?php echo $group['Group']['title'] ?></div>
                                                    <div class="community-item_founder"><?php echo __('Founded group') ?> (<?php echo $this->LocalDate->timeAgo($group['Group']['created']) ?>)</div>
                                                </div>
                                                <div class="community-item_meta">
                                                    <div class="community-item_users"><?php echo $group['Group']['active_members'] ?></div>
                                                    <div class="community-item_likes"><?php echo $group['Group']['karma'] ?></div>
                                                    <div class="community-item_tasks"><?php echo isset($tasksCount[$group['Group']['id']]) ? $tasksCount[$group['Group']['id']] : 0 ?></div>
                                                    <div class="community-item_finance"><?php echo isset($investProjects[$group['Group']['id']]) ? 1: 0 ; ?></div>
                                                </div>

                                                <div class="community-item_dream <?php echo !empty($group['Group']['is_dream']) ? 'community-item_dream--active' : '' ?>"></div>
                                            </div>
                                        </div>
                                    <?php endforeach; ?>
                                <?php endif; ?> #}
                            </div>
                        </li>

                        <li class="main-nav_item">
                            <a href="/GalleryProduct/index" class="main-nav_link">
                                <span class="main-nav_image">
                                    <img src="/img/interface/gallery2.svg" alt="">
                                </span>

                                <span class="main-nav_caption">{{ 'Gallery'|trans }}</span>
                            </a>
                        </li>
                    </ul>

                    <div class="searchLine">
                        <div id="showSearch"></div>

                        <div class="searchLine-box">
                            <input type="search" id="searchInput" placeholder="{{ 'Find on page'|trans }}" value="">
                            <span class="glyphicons" id="search-button"></span>
                            <span id="clearSearch"></span>
                            <input type="hidden" id="controller-name" value="Balance"/>
                            <input type="hidden" id="controller-action" value=""/>
                        </div>

                        <div class="headerTimelineWrap">
                            <div class="headerTimelineTrigger">{{ 'Day'|trans }}</div>

                            <div class="headerTimeline clearfix">
                                <div class="timeline-btn-group filters-btn">
                                    <button id="showDay" class="btn" data-filter="day" data-value="day" type="button">
                                        <span>{{ 'Day'|trans }}
                                        </span>
                                    </button>
                                    <button id="showWeek" class="btn" data-filter="week" data-value="week" type="button">
                                        <span>{{ 'Week'|trans }}</span>
                                    </button>
                                    <button id="showMonth" class="btn" data-filter="month" data-value="month" type="button">
                                        <span>{{ 'Month'|trans }}</span>
                                    </button>
                                    <button id="showYear" class="btn" data-filter="year" data-value="year" type="button">
                                        <span>{{ 'Year'|trans }}</span>
                                    </button>
                                    <button id="showAll" type="button" class="btn" data-value="all" data-filter="all">
                                        <span>{{ 'All time'|trans }}</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="main-nav main-nav--right">
                        <li class="main-nav_item <?= ($this->params['controller'] == 'Article') ? 'active' : '' ?>">
                            <a href="/Article/all" class="main-nav_link">
                                <span class="main-nav_image k-icon k-icon--small">
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="-277 400.9 40 40">
                                        <g><path class="st1" d="M-257,402.9c9.9,0,18,8.1,18,18c0,9.9-8.1,18-18,18s-18-8.1-18-18C-275,411-266.9,402.9-257,402.9M-257,400.9c-11,0-20,9-20,20s9,20,20,20c11,0,20-9,20-20S-246,400.9-257,400.9L-257,400.9z"/></g>
                                        <g><path class="st2" d="M-246.2,411.8c-0.1-0.8-0.7-0.9-1-0.9c-1.2,0-3.5,2-6,4.1c-1,0.9-2,1.8-2.9,2.4c-0.3,0.2-0.6,0.5-1,0.8c-1.7,1.3-3.6,2.8-5.1,4.4c-1.5,1.6-2.3,3-2.6,4.4l-3.1,2.8c-0.3,0.3-0.3,0.7,0,1c0.1,0.1,0.3,0.2,0.5,0.2c0.2,0,0.3-0.1,0.5-0.2l2.6-2.3c0.1,0,0.3,0.1,0.4,0.1c1.5,0,5.1-1.3,8.4-3.1l0.3-0.2l-0.6-0.5l1,0.3l0.1-0.1c0.9-0.5,1.6-1,2.3-1.5c0.1-0.1,0.2-0.2,0.4-0.3l0.2-0.2l-0.6-0.8l1.1,0.4l0.1-0.1c0.8-0.8,1.6-1.7,2.3-2.6l0.1-0.2l-1-1l1.4,0.4l0.1-0.2C-246.7,416.3-245.9,413.5-246.2,411.8L-246.2,411.8z M-246.2,411.8"/></g>
                                    </svg>
                                </span>
                                <span class="main-nav_caption">{{ 'Ideas'|trans }}</span>
                                <div id="newsCount" class="count newsCount"></div>
                            </a>
                        </li>

                        <li class="main-nav_item <?= ($this->params['controller'] == 'Cloud') ? 'active' : '' ?>">
                            <a href="/Cloud/index" class="main-nav_link">
                                <span class="main-nav_image k-icon k-icon--small">
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 40 40">
                                        <g><path class="st1" d="M20,2c9.9,0,18,8.1,18,18s-8.1,18-18,18c-9.9,0-18-8.1-18-18S10.1,2,20,2 M20,0C9,0,0,9,0,20c0,11,9,20,20,20c11,0,20-9,20-20C40,9,31,0,20,0L20,0z"/></g>
                                        <g><path class="st1" d="M28,13h-4.9c-1.5,0-2.8,1.1-3,2.6h-8c-1.1,0-2,0.9-2,2V26c0,1.1,0.9,2,2,2h16c1.1,0,2-0.9,2-2V15C30,13.9,29.1,13,28,13z"/></g>
                                    </svg>
                                </span>
                                <span class="main-nav_caption">{{ 'Cloud'|trans }}</span>
                                <div id="cloudCount" class="count cloudCount"></div>
                            </a>
                        </li>

                        <li class="main-nav_item <?= ($this->params['controller'] == 'UserTickets') ? 'active' : '' ?>">
                            <a href="<?=$this->Html->url(array('controller' => 'UserTickets', 'action' => 'index', 'plugin' => false))?>" class="main-nav_link">
                                <span class="main-nav_image k-icon k-icon--small">
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="-277 400.9 40 40">
                                        <path class="st0" d="M-257,400.9c-11,0-20,9-20,20s9,20,20,20s20-9,20-20S-246,400.9-257,400.9z M-257,438.9c-9.9,0-18-8.1-18-18c0-9.9,8.1-18,18-18c9.9,0,18,8.1,18,18C-239,430.8-247.1,438.9-257,438.9z M-256.6,427.1c0.3,0.3,0.4,0.7,0.4,1.3s-0.2,1-0.5,1.3s-0.7,0.5-1.3,0.5s-1-0.2-1.3-0.5s-0.3-0.7-0.3-1.3c0-1.2,0.6-1.8,1.7-1.8C-257.3,426.6-256.9,426.8-256.6,427.1z M-253.7,413.6c0.9,0.7,1.3,1.8,1.3,3.1c0,0.6-0.1,1.1-0.3,1.6c-0.2,0.5-0.4,0.9-0.8,1.3c-0.4,0.4-0.9,1-1.8,1.6c-0.7,0.6-1.2,1-1.5,1.4c-0.3,0.4-0.4,0.9-0.4,1.5v0.5h-1.9v-0.7c0-0.9,0.2-1.6,0.5-2.1s0.9-1.2,1.6-1.8c0.9-0.7,1.5-1.3,1.8-1.7c0.3-0.4,0.4-0.9,0.4-1.5c0-0.7-0.2-1.2-0.7-1.5s-1.1-0.5-1.9-0.5c-0.7,0-1.4,0.1-2.1,0.3c-0.7,0.2-1.3,0.5-1.9,0.8l-1-2.1c1.6-0.9,3.3-1.3,5.1-1.3C-255.8,412.5-254.6,412.9-253.7,413.6z"/>
                                    </svg>
                                </span>
                                <span class="main-nav_caption">{{ 'Support'|trans }}</span>
                            </a>
                        </li>
                        <li class="main-nav_item" style="width:63px"></li>
                    </ul>
                </div>
            </div>

            <div class="clearfix"></div>

            <div id="chat-holder" class="{#проверка кук#}" style="{#проверка кук#}"></div>

            <div id="breadcrumbs">
                <div>
                    <span>>{{ 'Time'|trans }}</span>
                </div>
            </div>

            <span class="ajax-loader" style="display: none;">
                <div class="" id="events-load">
                    <div class="cssload-thecube">
                        <div class="cssload-cube cssload-c1"></div>
                        <div class="cssload-cube cssload-c2"></div>
                        <div class="cssload-cube cssload-c4"></div>
                        <div class="cssload-cube cssload-c3"></div>
                    </div>
                </div>

                <style>
                    @keyframes cssload-fold-thecube {
                        0%,
                        10% {
                            transform: perspective(84px) rotateX(-180deg);
                            opacity: 0;
                        }
                        25%,
                        75% {
                            transform: perspective(84px) rotateX(0);
                            opacity: 1;
                        }
                        100%,
                        90% {
                            transform: perspective(84px) rotateY(180deg);
                            opacity: 0;
                        }
                    }
                </style>

                {#loading#}
            </span>
        </div>
        <div class="logo-konstruktor">
            <a class="logo" href="/Group/view/7">
                <img src="/img/interface/k-logo.png" alt="konstruktor" width="40px">
            </a>
        </div>
        <div class="wrapper-container ">
            <div class="container-fluid fixedLayout">
                <div class="">

                    <div id="balance_menu">
                        <div class="tabs">
                            <ul class="nav nav-tabs nav-justified">
                                <li class="loadTab link-tab group-tab">
                                    <a href="/user#publication">{{ 'Articles'|trans }}</a>
                                    <div class="count-block"></div>
                                </li>

                                <li class="loadTab link-tab group-tab">
                                    <a href="/user#group">{{ 'Group'|trans }}</a>
                                    <div class="count-block"></div>
                                </li>

                                <li class="loadTab link-tab group-tab">
                                    <a href="/user#task">{{ 'Tasks'|trans }}</a>
                                    <div class="count-block"></div>
                                </li>

                                <li class="loadTab link-tab group-tab active">
                                    <a href="javascript:;">{{ 'Finances'|trans }}</a>
                                    <div class="count-block"></div>
                                </li>
                            </ul>
                        </div>

                        <ul class="nav nav-pills pull-right">
                            <li class="replenish">
                                <a href="/replenish" class="active">{{ 'Replenish'|trans }}</a>
                            </li>
                            <li class="windrawal">
                                <a href="/windrawal">{{ 'Windrawal'|trans }}</a>
                            </li>
                            <li>
                                <a href="/">{{ 'Balance history'|trans }}</a>
                            </li>
                        </ul>
                    </div>
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        {% block javascripts %}

            <script src="/js/dream/flotr/js/Flotr.js"></script>
            <script src="/js/dream/flotr/flotr2.min.js"></script>
            <script src="/js/dream/flotr/js/DefaultOptions.js"></script>
            <script src="/js/dream/flotr/js/Color.js"></script>
            <script src="/js/dream/flotr/js/Date.js"></script>
            <script src="/js/dream/flotr/js/DOM.js"></script>
            <script src="/js/dream/flotr/js/EventAdapter.js"></script>
            <script src="/js/dream/flotr/js/Text.js"></script>
            <script src="/js/dream/flotr/js/Graph.js"></script>
            <script src="/js/dream/flotr/js/Axis.js"></script>
            <script src="/js/dream/flotr/js/Series.js"></script>
            <script src="/js/dream/flotr/js/types/lines.js"></script>
            <script src="/js/dream/flotr/js/types/bars.js"></script>
            <script src="/js/dream/flotr/js/types/points.js"></script>
            <script src="/js/dream/flotr/js/types/pie.js"></script>
            <script src="/js/dream/flotr/js/types/candles.js"></script>
            <script src="/js/dream/flotr/js/types/markers.js"></script>
            <script src="/js/dream/flotr/js/types/radar.js"></script>
            <script src="/js/dream/flotr/js/types/bubbles.js"></script>
            <script src="/js/dream/flotr/js/types/gantt.js"></script>
            <script src="/js/dream/flotr/js/types/timeline.js"></script>
            <script src="/js/dream/flotr/js/plugins/download.js"></script>
            <script src="/js/dream/flotr/js/plugins/selection.js"></script>
            <script src="/js/dream/flotr/js/plugins/spreadsheet.js"></script>
            <script src="/js/dream/flotr/js/plugins/grid.js"></script>
            <script src="/js/dream/flotr/js/plugins/hit.js"></script>
            <script src="/js/dream/flotr/js/plugins/crosshair.js"></script>
            <script src="/js/dream/flotr/js/plugins/labels.js"></script>
            <script src="/js/dream/flotr/js/plugins/legend.js"></script>
            <script src="/js/dream/flotr/js/plugins/titles.js"></script>

            <script src="/js/balance/windrawal.js"></script>

            <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
            <script src="/js/balance/replenish.js"></script>
        {% endblock %}
    </body>
</html>